@import "/packages/bootstrap3-less/bootstrap.import.less";
@import "packages/font-awesome/lib/font-awesome/less/variables.less";
@import "packages/font-awesome/lib/font-awesome/less/mixins.less";

[class^="icon-"],
[class*=" icon-"] {
  background-image: none !important;
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: none !important;
}

html > body {
  /* Offset the container below the topbar */
  padding-top: 60px;
}

body > .container {
    margin-bottom: 50px;
}

.toolbox {
    display: none;
    z-index: 5;
    position: absolute;
    right: 0;
}
:hover > .toolbox {
    display: block;
    &.inline {
        display: inline;
    }
}


/* fixes */

.navbar {
    .navbar-form {
        width: 250px;
    }
    .input-append .btn {
        margin-top: 0;
    }
}
h1 .btn-toolbar {
    margin-top: 0;
}

/*  custom styles */

.people {
    .person {
        position: relative;
        padding: 2px;
        a {
            &:focus, &:hover {
                background-color: transparent;
            }
        }
        .label {
            position: absolute;
            top: 12px;
            right: 5px;
        }

        &.tasks {
            a {
                padding-top: 1px;
                padding-bottom: 0;
                min-height: 40px;
            }
            .task_count {
                position: absolute;
                left: 15px;
                bottom: 2px;
                font-size: 0.9em;
                small {
                    font-weight: lighter;
                    padding-left: 1px;
                }
            }

            .label {
            }
        }

        &.active {
            background-color: @component-active-bg;
            color: @component-active-color;
            a {
                color: inherit;
            }
        }
        &.email {
            a {
                padding-left: 0;
                padding-right: 0;
            }
            .gravatar {
                height: 40px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: inherit;
            }
            .name {
                margin-left: 45px;
            }
            .task_count {
                left: 45px;
            }
        }
    }
}
.actions {
    dd {
        min-height: 40px;
        position: relative;
        &.action.pri-1 {
        }
        &.action.completed .text {
            text-decoration: line-through;
        }
    }
    dt {
        &.action.pri-1 {
            .btn {
                .btn-success;
            }
        }
        &.action.pri-2 {
            .btn {
                .btn-warning;
            }
        }
        &.action.pri-3 {
            .btn {
                .btn-danger;
            }
        }
    }
}
.muted {
    font-weight: lighter;
}
.notes {
    dt {
        font-weight: lighter;
    }
}
.footer {
    font-weight: lighter;
    p {
        text-align: center;
    }
    .light-keys {
        span {
            padding-right: 10px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.person-note {
    margin-bottom: 10px;
    position: relative;

    .form-ahead {
        max-height: @line-height-computed + 5px;
        overflow: hidden;
    }

    &.expanded {
        .form-ahead {
            max-height: none;
        }
    }
    .labels {
        .pull-left;
        .label {
            margin-right: 3px;
            font-weight: lighter;
        }
    }

    h1, h2, h3 {
        font-weight: lighter;
        margin-bottom: 0px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }

}


.person-attachments {
    .dropdown-menu {
        left: auto;
        right: -55px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .table {
        margin-bottom: 0;
        tr:first-child td {
            border-top: 0;
        }
    }
    .attachment {
    }
}


/* transitions */

button {
    -moz-transition-property: background-color, text-color;
    -webkit-transition-property: background-color, text-color;
    transition-property: background-color, text-color;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


/* form */

textarea {
    resize: vertical;
}

.navbar {
    .navbar-form {
        width: auto;
    }
}

@media (max-width: 767px) {
    .inline-visible-xs {
        display: inline-block !important;
    }
}
@media (min-width: 768px) {
    .inline-visible-xs {
        display: none !important;
    }
}
#person-menu.affix {
    width: 100%;
    top: 48px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
}
@media (min-width: @screen-tablet) {
    #person-menu.affix {
        width: @container-tablet - @grid-gutter-width;
        margin: 0;
    }
    .navbar {
        .navbar-form {
            width: 250px;
        }
    }
}
@media (min-width: @screen-desktop) {
    #person-menu.affix {
        width: 697px;
    }
}
@media (min-width: 1199px) {
    #person-menu.affix {
        width: 847px;
    }
}

